{% extends "base.html" %}

{% block body %}
    <h2 class="center">
        Here you can find every link redirecting to the different parts of my website.
    </h2>

    <br>

    <ul id="summary">
        <li>
            <a href="/about">
                <h3>About me</h3>
            </a>
        </li>
        <li>
            <a href="/cv">
                <h3>My CV</h3>
            </a>
        </li>
        <li>
            <a href="/technologies/1">
                <h3>My favourite computing technologies</h3>
            </a>
        </li>
        <li>
            <a href="/interests">
                <h3>My personal interests</h3>
            </a>
        </li>
        <li>
            <a href="/comments">
                <h3>Comments</h3>
            </a>
        </li>
    </ul>

{% endblock %}
